body {
  font-family: sans-serif;
  display: center;

  padding: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  width: 180px;
}

.card img    { width: 100%; margin-bottom: 10px; }
.card h3     { margin-bottom: 8px; }
.card p      { margin-bottom: auto; }
.card button {
  text-align: center;
  margin-top: 10px;
  padding-right: 100px;
  padding-bottom: 10px;
  background: lightblue;
  border: none;
  cursor: pointer;
  hover: {
    background: blue;
  }
}
.round-pfp {
  border-radius: 50%;
}